# Missing Data Exploration

## Step 1: Load dataset and examine

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency
df = pd.read_csv('../data/data_clean.csv', sep=',', encoding='latin-1')
# print(df.head(), df.columns, df.shape)

In [2]:
df.describe()

,SEQN,RIDAGEYR,RIAGENDR,RIDRETH1,RIDRETH3,DMDCITZN,DMDEDUC2,MIALANG,DMDHHSIZ,INDHHIN2,...,PAQ635,PAQ650,PAQ665,PAD680,PAQ706,PAQ710,LBXTC,highLDL,highbp,bmi
count,5769.000000,5769.000000,5769.000000,5769.000000,5769.000000,5759.000000,5762.000000,5146.000000,5769.000000,5493.000000,...,5769.000000,5769.000000,5769.000000,5764.000000,0.0,5766.000000,5342.000000,2513.000000,5111.000000,5520.000000
mean,78673.297105,49.111111,1.521928,3.143006,3.320333,1.130231,3.512843,1.075204,3.249090,8.649736,...,1.753337,1.781245,1.589704,454.806384,NaN,2.647763,189.131973,0.087545,0.362747,29.102323
std,2920.958598,17.563200,0.499562,1.178799,1.501965,0.336587,1.224465,0.263746,1.697629,4.454555,...,0.431106,0.413438,0.491930,604.770937,NaN,1.819410,41.857324,0.282688,0.480840,7.153432
min,73557.000000,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,0.000000,NaN,0.000000,69.000000,0.000000,0.000000,14.140802
25%,76170.000000,34.000000,1.000000,3.000000,3.000000,1.000000,3.000000,1.000000,2.000000,5.000000,...,2.000000,2.000000,1.000000,240.000000,NaN,1.000000,161.000000,0.000000,0.000000,24.098343
50%,78716.000000,48.000000,2.000000,3.000000,3.000000,1.000000,4.000000,1.000000,3.000000,8.000000,...,2.000000,2.000000,2.000000,420.000000,NaN,2.000000,186.000000,0.000000,0.000000,27.859011
75%,81170.000000,63.000000,2.000000,4.000000,4.000000,1.000000,5.000000,1.000000,4.000000,14.000000,...,2.000000,2.000000,2.000000,540.000000,NaN,4.000000,213.000000,0.000000,1.000000,32.472495
max,83729.000000,80.000000,2.000000,5.000000,7.000000,2.000000,5.000000,2.000000,7.000000,15.000000,...,2.000000,2.000000,2.000000,9999.000000,NaN,8.000000,813.000000,1.000000,1.000000,82.946544

Remove PAQ706, since all values missing. Examine missingness of variables in each columns. Remove columns CDQ001, CDQ010, DIQ070, DBD100, highLDL since >1000 missing values

In [4]:
df = df.drop(columns=['PAQ706'])

df = df.drop(columns = ['CDQ001', 'CDQ010', 'DIQ070', 'DBD100', 'highLDL'])

In [5]:
df.isna().sum()

SEQN          0
RIDAGEYR      0
RIAGENDR      0
RIDRETH1      0
RIDRETH3      0
DMDCITZN     10
DMDEDUC2      7
MIALANG     623
DMDHHSIZ      0
INDHHIN2    276
INDFMIN2    265
INDFMPIR    455
BMXLEG      504
BMXARML     444
BMXARMC     441
BMXWAIST    499
BMDAVSAD    670
BPXPLS      365
BPXPULS     364
DIQ010        0
DIQ160      896
DIQ170      722
DIQ172      722
DIQ180      722
DIQ050        1
DBQ095Z     683
DRQSPREP    683
DR1STY      683
DRQSDIET    683
DR1TKCAL    722
DR1TPROT    722
DR1TCARB    722
DR1TSUGR    722
DR1TFIBE    722
DR1TTFAT    722
DR1TSFAT    722
DR1TMFAT    722
DR1TPFAT    722
DR1TCHOL    722
DR1TSODI    722
DR1TALCO    722
DR1_320Z    722
LBDHDD      427
HIQ011        0
PAQ635        0
PAQ650        0
PAQ665        0
PAD680        5
PAQ710        3
LBXTC       427
highbp      658
bmi         249
dtype: int64

Missingness of diet information. If DR1TKCAL is missing, are all other diet variables missing as well? Yes. But not the same rows as missing DIQ170 data.

In [27]:
df_temp = df[df.DR1TKCAL.notnull()]
df_temp.isna().sum()

SEQN              0
RIDAGEYR          0
RIAGENDR          0
RIDRETH1          0
RIDRETH3          0
DMDCITZN         10
DMDEDUC2          3
MIALANG         206
DMDHHSIZ          0
INDHHIN2        217
INDFMIN2        207
INDFMPIR        361
BMXLEG          170
BMXARML         123
BMXARMC         120
BMXWAIST        165
BMDAVSAD        315
BPXPLS          106
BPXPULS         105
DIQ010            0
DIQ160          788
DIQ170          630
DIQ172          630
DIQ180          630
DIQ050            1
DBQ095Z           0
DRQSPREP          0
DR1STY            0
DRQSDIET          0
DR1TKCAL          0
DR1TPROT          0
DR1TCARB          0
DR1TSUGR          0
DR1TFIBE          0
DR1TTFAT          0
DR1TSFAT          0
DR1TMFAT          0
DR1TPFAT          0
DR1TCHOL          0
DR1TSODI          0
DR1TALCO          0
DR1_320Z          0
LBDHDD          182
HIQ011            0
PAQ635            0
PAQ650            0
PAQ665            0
PAD680            5
PAQ710            1
LBXTC           182
highbp          364
bmi              37
diet_missing      0
dtype: int64

Examine missingness of diet information related to other columns. Is it MCAR?

In [8]:
# Initialize the missing diet columns
df["diet_missing"] = df["DR1TKCAL"]
# The column is false
df["diet_missing"] = False
# Replace where Height_missing with True where Height is missing
df.loc[df[df['DR1TKCAL'].isnull()].index, "diet_missing"] = True

Is missing diet information related to health insurance status?

In [17]:
df[df["diet_missing"]==True].groupby("HIQ011")["diet_missing"].count()

HIQ011
1    567
2    154
7      1
Name: diet_missing, dtype: int64

In [18]:
df[df["diet_missing"]==False].groupby("HIQ011")["diet_missing"].count()

HIQ011
1    3976
2    1066
7       1
9       4
Name: diet_missing, dtype: int64

In [21]:
#create cont. table
diet_HI_table = [[567, 154],[3976,1066]]

#perform chi-squared test 
from scipy.stats import chi2_contingency
chi2, p, dof, ex = chi2_contingency(diet_HI_table)

#print results
print(p) #p>0.05 therefore we assume missingness is independent

0.9326030838512223

Is missing diet information related to gender?

In [24]:
#df[df["diet_missing"]==True].groupby("RIAGENDR")["diet_missing"].count()
df[df["diet_missing"]==False].groupby("RIAGENDR")["diet_missing"].count()

RIAGENDR
1    2414
2    2633
Name: diet_missing, dtype: int64

In [26]:

#create cont. table
diet_gen_table = [[344, 378],[2414, 2633]]

#perform chi-squared test 
from scipy.stats import chi2_contingency
chi2, p, dof, ex = chi2_contingency(diet_gen_table)

#print results
print(p) #p>0.05 therefore we assume missingness is independent

0.9575450638636349

## Step 2: Create patterns of missingness

In [34]:
#variable choice to create dataset for missignness simulation
df_nonmiss = df[['RIDAGEYR', 'RIAGENDR', 'RIDRETH1', 'RIDRETH3',
                 'DMDCITZN', 'DMDEDUC2', 'BMXLEG', 'BPXPULS',
                 'DIQ010', 'DIQ050', 'HIQ011', 'PAQ635',
                 'PAQ650', 'PAQ665','PAD680', 'PAQ710']]
np_nonmiss = df_nonmiss.to_numpy(copy=True, na_value=np.nan) # Convert dataframe to numpy array 

np_nonmiss = np_nonmiss[~np.isnan(np_nonmiss).any(axis=1), :] # delete rows with any missing values
print(np.shape(np_nonmiss))

(5112, 16)

In [35]:
#proportion missing
pm = 1/10

In [ ]:
MCAR_missing_indices = np.random.choice( # randomly select values from length ie flat array 
    len(np_nonmiss.flatten()), 
    size=int(len(np_nonmiss.flatten())*pm)) 


# When data are MAR, the fact that the data are missing is systematically related to the observed
# but not the unobserved data, eg. related to age 

# When data are MNAR, the fact that the data are missing is systematically related to an unobserved data
# eg. PAQ635 (walking or bicycling for exercise) may be related to bmi (unobserved in our sample subset)

## Step 3: Examine patterns of missingness on SVD imputation accuracy